:root {
  /* включает цвет логотипа */
  --link-active-color: #2196f3;

  --logo-second-color: #000000;
  --logo-secondfooter-color: #ffffff;
  /* остальніе переменніе цвета */

  --head-back-color: #ffffff;
  --head-nav-color: #212121;
  --head-mailtel-color: #757575;
  --footer-back-color: #2f303a;
  --adress-footer-color: #ffffff;
  --footer-MailTel-color: rgba(255, 255, 255, 0.6);
  --main-HEroback-color: #2f303a;
  --main-HeroText-color: #ffffff;
  --main-HeroButtonText-color: #ffffff;
  --main-HeroButtonBack-color: rgba(33, 150, 243, 1);
  --main-ButtonActive-color: rgb(13, 15, 17);
  --main-Section1and2Back-color: #ffffff;
  --H2-H3-Text-color: #212121;
  --portfolio-Button_color: #212121;
  --portfolio-ButtonActive-color: #ffffff;
  --portfolio-BattonBack-color: rgba(33, 150, 243, 1);
  --P-Text-color: #757575;
  --Main-Section3Back-color: #f5f4fa;

  /* Icons------------- */
  --icons: #afb1b8;

  /* time -cubik-background-----  ВРЕМЯ АНИМАЦИЙ---- */
  --Cubik: cubic-bezier(0.4, 0, 0.2, 1);
  --time-trans: 500ms;
  --background-time: background-color 500ms;
}

/* основные настрйки */
body {
  font-family: "roboto", "raleway", "sans-serif";
  color: red;
}
.section {
  padding: 94px 0px 94px 0px;
}

.container {
  width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}
 

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}
ul {
  margin: 0px;
  padding-left: 0px;
}
.links {
  text-decoration: none;
}

img {
  display: block;
}

.ulstyle {
  list-style: none;
  display: flex;
}

/* Голова----------------- */

.head {
  background-color: var(--head-back-color);
  border-bottom: 1px solid #ececec;
  max-width: 1600px;
  margin: 0 auto;
}
header .container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--link-active-color);
  padding: 24px 0 25px 0px;
}

.logo2 {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-second-color);
  margin-right: 104px;
}
.navigation {
  display: flex;
  height: 80px;
}

.TextNAV::after {
  position: absolute;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--link-active-color);

  display: none;
}
.TextNAV:hover::after,
.TextNAV:focus::after {
  display: block;
}
.TextNAV {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--head-nav-color);
  transition: var(--time-trans);
  transition-timing-function: var(--Cubik);
}
.TextNAV:hover,
.TextNAV:focus {
  color: var(--link-active-color);
}
.pod4ekivanie {
  padding-top: 32px;
  position: relative;
}
.pod4ekivanie:not(:last-child) {
  margin-right: 54px;
}
.pod4ekivanie:last-child {
  margin-right: 280px;
}

.otstup-top {
  padding-top: 32px;
}
.mit {
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--head-mailtel-color);
  transition: var(--time-trans);
  transition-timing-function: var(--Cubik);
}
.mit:hover,
.mit:focus {
  color: var(--link-active-color);
}
.special-svg {
  fill: currentColor;
  margin-right: 10px;
  cursor: pointer;
}
.special-svg:hover {
  fill: var(--link-active-color);
}
.special-svg:focus {
  fill: var(--link-active-color);
}
.mailmargin {
  margin-right: 30px;
}

/* Ноги --------+ Backdrop-------------*/

.foot {
  background-color: var(--footer-back-color);

  margin: 0 auto;
}

.ulstyle2 {
  list-style: none;
}

.logodown {
  margin-bottom: 28px;
  padding: 60px 0 0 0px;
}

.logo3 {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-secondfooter-color);
}
.conFlex {
  display: flex;
}

.unaited {
  width: 206px;
  height: 80px;
  padding: 72px;
}
.unaited-h3 {
  font-family: "Roboto";
  width: 100%;
  height: 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}
.united2 {
  width: 570px;
  height: 86px;

  margin-left: auto;
  margin-top: 72px;
}
.unaited2-1 {
  display: flex;
  position: absolute;
  
}
.modal-input-2 {
  width: 358px;
  height: 50px;
  color: #fff;
  background: #2f303a;
  padding-left: 16px;
  margin-right: 12px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.BTN-footer {
  background-color: #2196f3;

  width: 200px;
  height: 50px;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  display: inline-flex;

  font-family: "Roboto";

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  border-color: #2196f3;
  border-radius: 4px;
}
.BTN-footer::after {
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 10px;

  background-image: url("../images2/icon\ send.svg");
  background-size: contain;
}

.footer-soc {
  margin: auto;
  display: flex;
  width: 206px;
  height: 44px;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.footer-soc-items {
  width: 44px;
  height: 44px;
}

.footer-soc-items:not(:last-child) {
  margin-right: 10px;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: var(--background-time);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--link-active-color);
}

.footer-soc-icon {
  fill: #fff;
}

.Adress {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--adress-footer-color);
  margin-bottom: 12px;
  transition: var(--time-trans);
  transition-timing-function: var(--Cubik);
}
.Adress:hover,
.Adress:focus {
  color: var(--link-active-color);
}

.MiT {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-MailTel-color);
  transition: var(--time-trans);
  transition-timing-function: var(--Cubik);
}
.MiT:hover,
.MiT:focus {
  color: var(--link-active-color);
}
.teldown {
  padding-bottom: 60px;
}
/* backdrop ----------------------------------------------------------------*/
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  border-radius: 5px;
  transition: transform 250ms;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: var(--time-trans);
  transition-timing-function: var(--Cubik);
}

.modal-close:hover,
.modal-close:active {
  fill: #2196f3;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
/* FORM and MODAL -------------------------------------- */
.modal-head {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  margin: 40px 40px 0 40px;
}

.form-input {
  padding: 0 30px;
}
.modal-nav {
  padding: 12px 40px 20px 40px;
}

.modal-input-grup {
  margin-bottom: 10px;
}
.modal-nav-text {
  font-family: "Roboto";
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.18;
  margin-bottom: 4px;

  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 1);
}
.modal-input:focus {
  border-color: #2196f3;
}
.modal-input:active {
  border-color: #2196f3;
}
.modal-input:hover {
  border-color: #2196f3;
}

.modal-input {
  width: 100%;
  height: 40px;

  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: var(--time-trans);
  transition-timing-function: var(--Cubik);
}
.modal-input:hover + svg {
  fill: #2196f3;
}
.modal-input:focus + svg {
  fill: #2196f3;
}
.modal-input-text {
  width: 100%;
  height: 120px;
  padding-left: 16px;
  padding-top: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-family: "Roboto";
  max-width: 450px;
  max-height: 200px;
  outline: none;
  transition: var(--time-trans);
  transition-timing-function: var(--Cubik);
}
.modal-input-text:hover,
.modal-input-text:focus,
.modal-input-text:active {
  border-color: #2196f3;
}
.modal-input-text::placeholder-shown {
  font-family: "Roboto";

  font-weight: 400;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.position-icon {
  position: relative;
}

.icon-person1 {
  position: absolute;
  top: 50%;
  left: 15px;
  transition: var(--time-trans);
  transition-timing-function: var(--Cubik);
}

.modal-comment-position {
  margin-bottom: 20px;
}
.position-chekbox {
  margin-left: 14px;
  cursor: pointer;
}
.color-politic {
  color: #2196f3;
}

.ok-agry {
  font-family: "Roboto";

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: #757575;
}

.BTN-modal {
  width: 200px;
  height: 50px;
  font-family: "Roboto";
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  margin: 0 164px 0 164px;

  display: inline-block;
  align-items: center;

  letter-spacing: 0.06em;

  color: #ffffff;
  background: #2196f3;
  border-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* Майн веб-------------hero-------------- */
.main {
  max-width: 1600px;
  margin: 0 auto;
}

.WS0 {
  background: var(--main-HEroback-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.2),
      rgba(47, 48, 58, 0.2)
    ),
    url("../images2/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  margin: 0 auto;
}

.HERO {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-HeroButtonText-color);
  padding: 106px 252px 0 252px;
}
.Hbutton {
  margin: 30px 485px 106px 485px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: var(--main-HeroText-color);
  background-color: var(--main-HeroButtonBack-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: var(--time-trans);
  transition-timing-function: var(--Cubik);
}
.Hbutton:hover,
.Hbutton:focus {
  color: var(--main-ButtonActive-color);
}

/* section1------------------------- */
/* WS1h3 - Webstudio Section 1 H3 */
/* WS1P -wEBSTUDIO Section 1 P */

.WS1 {
  background-color: var(--main-Section1and2Back-color);
}

.specials {
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
}

.special-item {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.special-links {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.WS1h3 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--H2-H3-Text-color);
  margin-bottom: 10px;
  width: 270px;
}

.WW {
  margin-right: 30px;
}
.LL {
  margin-left: auto;
}

.WS1P {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--P-Text-color);
  width: 270px;
}

/* section 2 ----------------------------*/
.WS2 {
  background-color: var(--main-Section1and2Back-color);
}

.WS2h2 {
  padding: 0 486px 0 486px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--H2-H3-Text-color);
  margin-bottom: 50px;
  padding: 0 400px 0 400px;
}

.sec2position {
  position: relative;
}
.sec2-text-in {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14x;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 27px 95px;
}

/* section 3------------------------------ */
/* WS3h2 - Webstudio section 3 h3 */
/* WS3h3 - Webstudio section 3 h3 */
/* WS3p Webstudio section 3 p*/

.WS3 {
  background-color: var(--Main-Section3Back-color);
}

.WS3h2 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--H2-H3-Text-color);
  margin-bottom: 50px;
  padding: 0 450px 0 450px;
}

.imgworkers {
  border-radius: 0px;
}

.WS3h3 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--H2-H3-Text-color);
  margin-bottom: 10px;
}

.WS3p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--P-Text-color);
  margin-bottom: 16px;
}
.namesborder {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
}

.barbers-soc {
  margin: auto;
  display: flex;
  width: 206px;
  height: 44px;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.barbers-soc-items {
  width: 44px;
  height: 44px;
}
.barbers-soc-items:not(:last-child) {
  margin-right: 10px;
}

.barbers-soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #fff;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: var(--background-time);
  transition-timing-function: var(--Cubik);
}

.barbers-soc-link:hover,
.barbers-soc-link:focus {
  background-color: var(--link-active-color);
}
.barbers-soc-link:hover .barbers-soc-icon,
.barbers-soc-link:focus .barbers-soc-icon {
  background-color: var(--link-active-color);
  fill: #fff;
}
.barbers-soc-icon {
  fill: #afb1b8;
  transition: var(--time-trans);
  transition-timing-function: var(--Cubik);
}
/* SEction 4-------------------- */
.WS4 {
  background-color: #fff;
}

.WS4 .WS4h2 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--H2-H3-Text-color);
  margin-bottom: 50px;
}
.ULclients {
  justify-content: space-between;
}
.SVGclients {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  box-sizing: border-box;
  width: 170px;
  height: 92px;
  transition: var(--time-trans);
  transition-timing-function: var(--Cubik);
}
.SVGclients:hover,
.SVGclients:focus {
  border: 1px solid rgba(33, 150, 243, 1);
}

.Clients {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #fff;
  justify-content: center;
  align-items: center;
}

.Clients-svg {
  fill: #afb1b8;
  transition: var(--time-trans);
  transition-timing-function: var(--Cubik);
}
.Clients:hover .Clients-svg,
.Clients:focus .Clients-svg {
  fill: rgba(33, 150, 243, 1);
}

/*Portfolio  ------------------------------------*/

.btnP {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
  transition: var(--time-trans);
  transition-timing-function: var(--Cubik);
}
.btnP:hover,
.btnP:focus {
  color: var(--portfolio-ButtonActive-color);
  background-color: var(--portfolio-BattonBack-color);
}
.b1 {
  margin: 0 794px 0 327px;
  padding: 6px 22px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-right: 8px;
}
.b2 {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-right: 8px;
  padding: 6px 22px;
}
.b3 {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 6px 22px;
}

.words5 {
  margin-bottom: 53px;
}

/* section 2---------portfolio--------------------------------*/

.PS2 {
  background-color: var(--main-Section1and2Back-color);
  max-width: 1600px;
  margin: 0 auto;
}

.ulstyle3 {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.imgtext {
  background: #ffffff;
  border: 1px solid #eeeeee;
  padding: 20px;
}
.imgposition {
  position: relative;
  overflow: hidden;
}
.imgposition:hover .text-hidden,
.imgposition:focus .text-hidden {
  transform: translateY(0);
}
.text-hidden {
  position: absolute;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  top: 0;

  transform: translateY(100%);
  transition: transform var(--time-trans) var(--Cubik);
}

.img1 {
  margin-bottom: 30px;
  margin-right: 30px;
}
.img2 {
  margin-right: 30px;
}

.PS2h3 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--H2-H3-Text-color);
}

.PS2p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--P-Text-color);
}
