/* основные настрйки */
body {
    font-family: "roboto", "raleway", "sans-serif";
    color: red;
  }
  .section {
    padding: 94px 0px 94px 0px;
  }
  
  .container {
    width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
  }