/* section1------------------------- */
/* WS1h3 - Webstudio Section 1 H3 */
/* WS1P -wEBSTUDIO Section 1 P */

.WS1 {
    background-color: var(--main-Section1and2Back-color);
    padding-bottom: 94px ;
    @media screen and (min-width: 480px) {
      padding: 60px 0px 60px 0px;
      
    }

    @media screen and (min-width: 768px) {
      padding: 60px 0px 60px 0px;
      
    }
    @media screen and (min-width: 1200px) {
      padding: 94px 0px 94px 0px;
      
    }
  }
  
  .section__specials {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
  }
  
  .section__item {
    width: auto;
    height: auto;
    background: #f5f4fa;
    border-radius: 4px;

    @media screen and (min-width: 480px) {
      width: 450px;
      
  
    
    }

    @media screen and (min-width: 768px) {
      width: calc( (100% - 60px) / 2);
      
  
    
    }
  
    @media screen and (min-width: 1200px) {
      width:calc((100% - 120px) / 4);
      
      
    }
    
  }
  
  .section__links {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .section__WS1h3 {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--H2-H3-Text-color);
    
    margin-bottom: 10px;
    @media screen and (max-width: 480px) {
      width: 450px;
      text-align: center;
  
    
    }
    
  }
  
  .WW {
    width: auto;
    height: 127px;
    padding-top: 30px;
    background-color: #ffffff;

    
  }
  .LL {
    margin-left: auto;
  }
  
  .section__WS1P {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--P-Text-color);
    width: auto;

    @media screen and (max-width: 480px) {
      width: 450px;
      
  
    
    }
  }
  .section__ulstyle { list-style: none;
    display: flex;}